# Copia este archivo como .env.local y rellena los valores.
# En Vercel se configuran en Project Settings -> Environment Variables.

NEXT_PUBLIC_SUPABASE_URL=https://skhktzjdovthkqqqpinl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_QN17z5avJRqWOLFBVj6JEg_iSyacq46
